@import "tailwindcss";

@theme {
  --brandBlueColor: #152C4B;
}
.bg-brandBlueColor {
  background-color: var(--brandBlueColor);
}
.text-brandBlueColor {
  color: var(--brandBlueColor);
}
.hover\:text-brandBlueColor:hover { color: var(--brandBlueColor); }

@theme {
  --brandBlueColor2: #435f8b;
}
.bg-brandBlueColor2 {
  background-color: var(--brandBlueColor2);
}

@theme {
  --brandBrownColor: #732C3E;
}

.bg-brandBrownColor {
  background-color: var(--brandBrownColor);
}
.text-brandBrownColor {
  color: var(--brandBrownColor);
}
.hover\:text-brandBrownColor:hover { color: var(--brandBrownColor); }

@theme {
  --brandGrayColor:  #ECECEC;
}

.bg-brandGrayColor {
  background-color: var(--brandGrayColor);
}
.text-brandGrayColor {
  color: var(--brandGrayColor);
}
.hover\:text-brandGrayColor:hover { color: var(--brandGrayColor); }

